*{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 5);
    color: aliceblue;
}

.body{
    background-color: rgb(5, 5, 5);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    padding-right: 20px;
    background-color: rgb(5, 5, 5);
}


.navmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    background-color: rgb(5, 5, 5);
}

.navlist ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
   
}
.navlist li{
    position: relative;
    padding-bottom: 20px;
    list-style: none;
}

.navlist li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; 
    height: 1.7px; 
    background-color: #E5BF4A; 
    transition: width 0.4s ease-in-out; 
}

.navlist li:hover::after {
    width: 100%; 
}

.navlist li a:hover {
    color: #E5BF4A;
    transition: 0.6s;
   
}
.navlist{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: #fff;
}

.navlist a{
    text-decoration: none;
    color: #fff;
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 25px;

}

.logos i:hover{
    color: #E5BF4A;
    transition: transform 0.4s ease-in-out;
    transform: scaleX(-1);
}

nav button{
    width: 18rem;
    height: 4.3rem;
    background-color: transparent;
    color: #E5BF4A;
    font-size: larger;
    border: 2.5px #E5BF4A solid ;
}

nav button:hover{
    background-color: #E5BF4A;
    color: aliceblue;
    transition: 0.4s;
}

.sec1{
    background-image: url(./imgs/imgs/hero_bg.png);
    background-size: cover;
    background-position: center ;
    height: 100vh;
    width: auto;
   
}

.firstsection{
    justify-content: left;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 45px;
    margin-left: 150px;
    margin-top: 24rem;
    background-color: rgba(0, 0, 0, 0)
}

.firstsection h1{
    background-color: rgba(0, 0, 0, 0);
}


.firstsection button{
    margin-top: 60px;
   width: 15rem;
   height: 5rem;
   font-size: 18px;
   background-color: #E5BF4A;
   color: black;
   font-weight: 300;
}

.firstsection button:hover{
    background-color: transparent;
    color: #E5BF4A;
    transition: 0.5s ease-out;
    border: 2.5px #E5BF4A solid ;
}

.sec2{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sechead2{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sechead2 hr{
    width: 120px;
    margin-top: 20px;
    background-color: #e1a800;
    color: #f4b700;
    height: 1.5px;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

.secmain2{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    margin-inline: 18rem;
    gap: 40px;
    line-height: 30px;
}

.secmain2 h3{
    margin-top: 40px;
    font-size: 20px;
}

.secmain2 h2{
    font-size: 30px;
}

.secmain2 img{
    width: 40rem;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    width: 30rem;
    text-align: left;
    overflow: hidden;
    border: 0px;
    position: relative;
    display: inline-block;
}

.card img {
    width: 30rem;
    height: 24rem;
    object-fit: cover;

}

.hover-button{
    width: 30rem;
    background-color: #E5BF4A;
    color: black;
    font-size: 20px;
    height: 6.79rem;
}

.card:hover .hover-button {
    opacity: 1;
    bottom: -10px; 
}


.card img:hover{
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.hover-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px; /* Adjust as needed */
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s;
}



.card-body h1 {
    font-size: 1.5rem;
    color: #fff;
    margin: 10px 0;
}

.card-body .price {
    font-size: 1.2rem;
    color: #E5BF4A;
}

.carousel slide button{
    color: #E5BF4A;
}

.sec4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    padding-top: 20rem;
    
}

.div4 {
    position: relative; 
    display: inline-block; 
}

.sec4 img {
    width: 100rem; 
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    font-size: 40px;
    background-color: #E5BF4A;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}



.play-button i {
    color: white;
    background-color: #E5BF4A;
}



.play-button a {
    color: white;
    background-color: #E5BF4A;
}

.play-button:hover,
.play-button:hover a,
.play-button:hover i {
    background-color: #c9a03a;
    color: white;
}


.sec5{
    height: 100vh;
    padding-top: 25rem;
}

.sec5con{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}
.sec5main{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.hr{
    width: 0.2px;
    height: 400px;
    border: none;
    background-color: #fff;
    color: #a19f9f;
}

.sec5card{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 25rem;
}

.sec5card img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.stars i{
    color: #e1a800;
     
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.sec5con hr{
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 90%;
}

.sec6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 500px;
}

.sec6textbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
}

.sec6textbtn button{
    width: 15rem;
    height: 5rem;
    font-size: 18px;
    background-color: #E5BF4A;
    color: black;
    font-weight: 300;
}

.sec6main{
    display: flex;
    flex-direction: row;
    padding-inline: 20px;
}

.sec6card{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-top: 70px ;
    gap: 20px;
}

.sec6card h2{
    font-size: 35px;
    color: #c9a03a;
}


.sec5card h4{
    font-size: 20px ;
}

.sec6card img{
    width: 30rem;
    height: 28rem;
}

#h2{
    font-size: 20px;
    padding-top: 20px ;
    color: #c9a03a;
    text-decoration: underline;
    text-underline-offset: 20px;
}

.sec7{
    height: 100vh;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.sec7 button{
    width: 15rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 20px;
    border: 1px solid #e1a800 ;
    background-color: transparent;
    text-align: center;
    color: #c9a03a;
}


.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}
.sec8 hr{
    height: 1px;
}

.sec8{
    padding-inline: 60px;
}

.con{
    display: flex;
    flex-direction: row;
    padding-inline: 30px;
    justify-content: space-between;
    padding-top: 10rem;
}

.conmain{
    width: 50%;
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding-right: 10rem;
}

.conmain button{
    width: 15rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 20px;
    border: 1px solid #e1a800 ;
    background-color: transparent;
    text-align: center;
    color: #c9a03a;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.concont{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 20px;
}

.contact h2{
    color: #c9a03a;
}

.contact i{
    font-size: 30px;
}


